body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .top-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    padding: 30px 20px;
  }
  
  .top-nav .logo {
    font-size: 1.5em;
  }
  
  .bottom-nav {
    padding: 20px 20px;
    font-weight: 600;
    font-family: sans-serif;

  }
  
  .bottom-nav nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 0;
    padding: 0;
  }
  
  .bottom-nav nav ul li {
    cursor: pointer;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    bottom: 0;
    width: 100%;
  }

.bottom-nav {
  padding: 10px;
  position: relative;
}

.bottom-nav nav ul {
  list-style-type: none;
  margin: 0 12%;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.bottom-nav nav ul li {
  cursor: pointer;
  padding: 10px;
}
.hamburger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}
@media (max-width: 600px) {
  .top_nav_item {
      position: absolute;
      top: 35px;
      left: 50px;
      width: 24%;
      background-color: #333;
  }

  .bottom-nav nav ul {
    display: none;
    flex-direction: column;
    width: 100%;

  }
  .top_nav_item{
    position: absolute;
    top: 35px;
    left: 50px;
   background-color:#333 ;
  }
  .top_nav_item ul li{
    color: #fff;
  }
  .bottom-nav nav ul.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .bottom-nav nav ul li {
    text-align: start;
    width: 100%;
    padding: 15px 0;
    border-top: 1px solid #444;
  }
}
